<div class="container mx-auto p-6">
  <div *ngIf="threads" class="thread-card shadow-lg rounded-lg p-6">
    <!-- Category Title -->
    <h1 class="thread-title text-4xl font-extrabold mb-6">
      {{ category?.name }}
    </h1>

    <!-- Category Content -->
    <p class="thread-body text-lg leading-relaxed mb-10">
      {{ category?.description }}
    </p>

    <!-- Threads -->
    <div class="comments-section">
      <h2 class="comments-title text-2xl font-bold text-accent mb-4">
        Threads
      </h2>

      <!-- List of Threads -->
      <ul
        *ngIf="threads.length > 0; else noThreads"
        class="comments-list space-y-4"
      >
        <li
          *ngFor="let threads of threads"
          class="thread-card animate-slideInUp"
        >
          <div class="comment-item h-full flex flex-col relative">
            <h2 class="thread-title">
              <a
                [routerLink]="['/threads', threads.id_thread]"
                class="text-2xl text-accent font-semibold mb-2"
              >
                {{ threads.title }}
              </a>
            </h2>
            <p class="text-sm comment-meta text-neutral mb-4">
              Posted by
              <a
                [routerLink]="['/profile-detail', threads.user.id]"
                class="text-secondary font-sm hover:underline"
              >
                {{ threads.user.name }}
              </a>
              <a
                [routerLink]="['/categories', threads.category.id_category]"
                class="text-primary font-sm hover:underline"
              >
                • {{ threads.category.name }}
              </a>
              • {{ threads.publication_date }}
            </p>
            <div
              class="flex justify-end absolute top-6 right-6 space-x-2 p-0 mt-2"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                fill="green"
                stroke="green"
                class="size-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M11.47 2.47a.75.75 0 0 1 1.06 0l3.75 3.75a.75.75 0 0 1-1.06 1.06l-2.47-2.47V21a.75.75 0 0 1-1.5 0V4.81L8.78 7.28a.75.75 0 0 1-1.06-1.06l3.75-3.75Z"
                />
              </svg>
              <span class="text-green-600">
                + {{ CountThreadUpvotes(threads.id_thread) }}</span
              >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="red"
                stroke-width="1.5"
                stroke="red"
                class="size-6"
              >
                <path
                  d="M12 2.25a.75.75 0 0 1 .75.75v16.19l2.47-2.47a.75.75 0 1 1 1.06 1.06l-3.75 3.75a.75.75 0 0 1-1.06 0l-3.75-3.75a.75.75 0 1 1 1.06-1.06l2.47 2.47V3a.75.75 0 0 1 .75-.75Z"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <span class="text-red-600">
                - {{ CountThreadDownvotes(threads.id_thread) }}</span
              >
            </div>

            <div class="comment-content flex-1">
              <p class="text-primary">{{ threads.content }}</p>
            </div>
          </div>
        </li>
      </ul>

      <!-- No Threads Template -->
      <ng-template #noThreads>
        <p class="text-center text-gray-500">
          No threads yet. Be the first to make one!
        </p>
      </ng-template>
    </div>
  </div>
</div>
