<div class="bg-base-200 shadow-md rounded-lg p-6">
    <h2 class="text-2xl font-semibold text-accent mb-2">Start a New Thread</h2>
    <form>
        <div class="mb-4">
            <label for="title" class="block text-primary">Title</label>
            <input type="text" id="title" class="w-full px-3 py-2 border border-primary rounded-md" placeholder="Enter discussion title">
        </div>
        <div class="mb-4">
            <label for="title" class="block text-primary">Categories</label>
            <input type="text" id="title" class="w-full px-3 py-2 border border-primary rounded-md" placeholder="Enter discussion title">
        </div>
        <div class="mb-4">
            <label for="content" class="block text-primary">Content</label>
            <textarea id="content" class="w-full px-3 py-2 border border-primary rounded-md" rows="4" placeholder="Enter discussion content"></textarea>
        </div>
        <button type="submit" class="bg-primary text-accent px-4 py-2 rounded-md hover:transition-colors">Post Discussion</button>
    </form>
</div>