<div class="register-container">
  <div class="left-section">
    <div class="register-form">
      <h1 class="title text-accent">Get Started Now</h1>
      <form [formGroup]="registerForm">
        <!-- Name Field -->
        <div class="input-field">
          <input
            type="name"
            placeholder="Name"
            required
            minlength="4"
            #nameInput
            formControlName="name"
          />
          <div
            *ngIf="nameInput.value.length < 4 && nameInput.value !== ''"
            class="error-message"
          >
            Name must be at least 4 characters long.
          </div>
        </div>

        <!-- Email Field -->
        <div class="input-field">
          <input
            type="email"
            placeholder="Email address"
            required
            #emailInput
            formControlName="email"
          />
        </div>

        <!-- Password Field -->
        <div class="input-field">
          <input
            type="password"
            id="password"
            placeholder="Password"
            required
            minlength="6"
            #passwordInput
            formControlName="password"
          />
          <div
            *ngIf="passwordInput.value.length < 6 && passwordInput.value !== ''"
            class="error-message"
          >
            Password must be at least 6 characters long.
          </div>
        </div>

        <!-- Confirm Password Field -->
        <div class="input-field">
          <input
            type="password"
            id="confirmPassword"
            placeholder="Confirm Password"
            required
            minlength="6"
            #confirmPasswordInput
          />
          <div
            *ngIf="
              confirmPasswordInput.value.length < 6 &&
              confirmPasswordInput.value !== ''
            "
            class="error-message"
          >
            Confirm Password must be at least 6 characters long.
          </div>
          <div
            *ngIf="
              passwordInput.value !== confirmPasswordInput.value &&
              confirmPasswordInput.value !== ''
            "
            class="error-message"
          >
            Passwords must match.
          </div>
        </div>

        <!-- Terms and Conditions -->
        <div class="terms">
          <input formControlName="terms" type="checkbox" id="terms" required #termsInput />
          <label class="text-primary" for="terms">
            I agree to the <a href="/terms">terms &amp; policy</a>
          </label>
        </div>

        <!-- Submit Button -->
        <button
          [class.opacity-50]="registerForm.invalid"
          [disabled]="registerForm.invalid"
          (click)="register()"
          class="signup-btn text-primary"
        >
          Sign up
        </button>
      </form>

      <div class="separator">or</div>
      <div class="signin-link">
        <p class="text-primary">
          Already have an account?
          <a href="/login">Sign in</a>
        </p>
      </div>
    </div>
  </div>

  <div class="right-section">
    <h1 class="text-primary">Talkhub</h1>
  </div>
</div>
