@import '../../../styles.scss';

.reports-page {
  display: flex;
  justify-content: center;
  padding: 40px;
  background-color: $color-base-200;

  .reports-container {
    display: flex;
    width: 100%;
    max-width: 1200px; // Limits the container width to avoid full-width layout
    background-color: $color-base-100;
    border-radius: $border-radius;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden; // Prevents overflow from flex items
  }

  .reports-list {
    width: 40%;
    max-height: calc(100vh - 80px); // Adjust height based on padding
    overflow-y: auto;
    background-color: $color-base-100;
    padding: 20px;
    border-right: 1px solid $color-neutral;
  
    .section-title {
      font-size: 1.5rem;
      color: $color-accent;
      margin-bottom: 15px;
    }

    .report-item {
      padding: 15px;
      margin-bottom: 10px;
      background-color: $color-base-100;
      border-radius: 8px;
      cursor: pointer;
      border: 2px solid $color-accent;
      transition: background-color 0.3s ease-in-out;
  
      &:hover {
        background-color: $color-base-200;
      }

      .report-title {
        font-size: 1.2rem;
        font-weight: bold;
        color: $color-primary;
      }

      .report-snippet {
        font-size: 0.9rem;
        color: $color-primary;
      }
    }

    .loading-message {
      text-align: center;
      font-size: 1rem;
      color: $color-primary;
      margin-top: 10px;
    }
  }

  .report-details {
    width: 60%;
    padding: 20px;
    background-color: $color-base-100;
    border-radius: $border-radius;
    overflow-y: auto;

    .section-title {
      font-size: 1.5rem;
      color: $color-accent;
      margin-bottom: 15px;
    }

    .report-info {
      p {
        font-size: 1rem;
        color: $color-primary;
        margin-bottom: 10px;

        strong {
          font-weight: 600;
        }

        a {
          color: $color-secondary;
          text-decoration: underline;
          &:hover {
            color: lighten($color-secondary, 10%);
          }
        }
      }
    }
  }
}
